<!DOCTYPE html>

<html>
	<head>
		<title>Micro default test page ... ;'(</title>
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
		<link href="{{ path }}/assets/css/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="container">
			<header id="contentheader">

				<img src="{{ path }}/assets/images/logo.png" />
				<ul>
				{% for page in pageList %}
					<li><a href="{{ url }}/{{ page.slug }}">{{ page.name }}</a></li>
				{% endfor %}
				</ul>
			</header>
			<section id="content">
			{% for post in posts %}
				<article>
					<header>
						<h3>{{ post.title }}</h3>
						<span class="time">{{ "now"|date('d/m/Y H:i', timezone="Europe/Paris") }}</span>
					</header>
					<section>{{ post.content }}</section>
					<footer>Footer</footer>
				</article>
			{% endfor %}
			</section>
			<footer id="contentfooter">
				<a target="_blank" href="http://github.com/hatmedia/micro">Micro by HatMedia</a>
			</footer>

		</div>
	</body>

</html>

