{% extends "system/views/base.html" %}
{% block title %}
	Gebruikers
{% endblock %}
{% block innernav %}
				<ul>
					<li><a class="active" href="#">Alle</a></li>
					<li><a href="{{ app.url_generator.generate('filter_users', {filter : 'ROLE_ADMIN' }) }}">Eigenaren</a></li>
					<li><a href="#">Redactie</a></li>
					<li><a href="#">Leden</a></li>
				</ul>
{% endblock %}
{% block main %}
				<div class="heading">
					<h4>{{ users|length }} Gebruiker{% if users|length > 1 %}s {% endif %} gevonden</h4>
					<div class="buttons">
						<a href="#"><i class="fa fa-pencil"></i></a>
						<a href="#"><i class="fa fa-trash"></i></a>
						<a href="{{ app.url_generator.generate('add_user') }}"><i class="fa fa-plus"></i></a>
					</div>
				</div>
				<div class="contents">
					<table>
						<thead>
							<tr>
							  <th><input type="checkbox"></th>
							  <th align="left">Gebruikersnaam</th>
							  <th align="left">Classe</th>
							  <th align="center">Gemaakt</th>
							</tr>
						  </thead>
						  <tbody>

							{% for user in users %}
							<tr>
							  <td><input type="checkbox"></td>
							  <td>{{ user.username }}</td>
							  <td>{{ user.roles }}</td>
							  <td align="center">{{ timeAgo(user.date) }} geleden <i class="fa fa-clock-o" title="{{ user.date }}"></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
{% endblock %}