<!DOCTYPE html>
<html>
	<head>
		<title>Micro | {% block title %}{% endblock %}</title>

		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
        <link href="{{ path }}/assets/css/users.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="{{ path }}/assets/uikit/css/uikit.min.css" />
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="{{ path }}/assets/uikit/js/uikit.min.js"></script>


            <!-- Codemirror and marked dependencies -->
        <link rel="stylesheet" href="{{ path }}/assets/codemirror/lib/codemirror.css">
        <script src="{{ path }}/assets/codemirror/lib/codemirror.js"></script>
        <script src="{{ path }}/assets/codemirror/mode/markdown/markdown.js"></script>
        <script src="{{ path }}/assets/codemirror/addon/mode/overlay.js"></script>
        <script src="{{ path }}/assets/codemirror/mode/xml/xml.js"></script>
        <script src="{{ path }}/assets/codemirror/mode/gfm/gfm.js"></script>
        <script src="{{ path }}/assets/js/marked.js"></script>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>


        <script src="{{ path }}/assets/uikit/js/components/htmleditor.js"></script>
        <link href="{{ path }}/assets/uikit/css/components/htmleditor.almost-flat.css" rel="stylesheet" type="text/css" />


	</head>
	<body>
		<header>
			<a class="logo" href="#">Micro</a>
			<h1>{{ block('title') }}</h1>
		</header>
		<section class="header">
			<div class="stuck-top">
				<nav>
					<ul>
						<li><a {% if active('home') %} class="active" {% endif %} href=""><i class="fa fa-home"></i></a></li>
						<li><a {% if active('pages') %} class="active" {% endif %} href="#"><i class="fa fa-file"></i></a></li>
						<li><a {% if active('users') %} class="active" {% endif %} href="#"><i class="fa fa-users"></i></a></li>
						<li><a {% if active('settings') %} class="active" {% endif %} href="#"><i class="fa fa-cog"></i></a></li>
						<li><a {% if active('hooks') %} class="active" {% endif %} href="#"><i class="fa fa-anchor"></i></a></li>

					</ul>
				</nav>
				<div class="divider"></div>
			</div>
		</section>
		<section class="main-content">
			<div class="inner-nav">
			{% block innernav %}
			{% endblock %}
			</div>
			<div class="inner-content">
			{% block main %}
			{% endblock %}
		</section>

	</body>
</html>
